.home__image {
  width: 100%;
  mask-image: linear-gradient(
    to bottom,
    rgba(136, 63, 204, 1),
    rgba(136, 63, 204, 0.5)
  );
  z-index: -1;
  /* margin-bottom: -150px; */
  margin-bottom: 105px;
}

.home {
  /* max-width: 1510px; */
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.home__row {
  display: flex;
  max-width: 100%;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}
